/* :root{
    body{
        height: 100vh;
        background-position: "center";
        background-repeat: "repeat";
        opacity: 0.8;
        background-image: linear-gradient(#f744ca 1px, transparent 1px), linear-gradient(to right, #f744c1 1px, aliceblue 1px);
        background-size: 20px 20px;
        }
} */